# App
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mental_health?schema=public"

# JWT Access Token
JWT_ACCESS_SECRET="your-access-secret-change-me"
JWT_ACCESS_EXPIRATION="15m"

# JWT Refresh Token
JWT_REFRESH_SECRET="your-refresh-secret-change-me"
JWT_REFRESH_EXPIRATION="7d"
