# compiled output
dist
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage

# Environment
.env
.env.local

# IDE
.idea
.vscode
*.swp
*.swo

# Prisma
prisma/migrations
src/generated/prisma

# Docker
docker-compose.override.yml
